<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Laravel - Spring Boot</title>

    <link href="app.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right border-0 p-0" data-target="#navbar14"
                    data-toggle="collapse"
                    type="button">
                <p class="navbar-brand mb-0 text-white" th:text="${greeting}">
                    <i class="fa d-inline fa-lg fa-stop-circle"></i></p>
            </button>
            <div class="collapse navbar-collapse" id="navbar14">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">主页</a></li>
                </ul>
                <p class="d-none d-md-block lead mb-0  text-white" th:text="${greeting}"><i
                        class="fa d-inline fa-lg fa-stop-circle"></i> <b>
                </b></p>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/swagger-ui.html">访问 Swagger 调试工具</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h2-component></h2-component>

    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0">© 2019 Kuzon Chen. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
